<CascadingAuthenticationState>
    <Router AppAssembly="typeof(Program).Assembly" NotFoundPage="typeof(Pages.NotFound)">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)">
                <NotAuthorized>
                    <div class="alert alert-warning m-4">
                        You are not authorized to access this page.
                        <a href="/login" class="alert-link">Please log in</a>.
                    </div>
                </NotAuthorized>
            </AuthorizeRouteView>

            <FocusOnNavigate RouteData="routeData" Selector="h1" />
        </Found>
    </Router>
</CascadingAuthenticationState>